<main class="mainDiv">
  <div class="leftDiv">
    <div class="loginFormDiv">
      <form (ngSubmit)="(OnSubmitLogin)">
        <h3 class="formHeading">LOGIN</h3>
        <div class="formGroup">
          <label class="formLabel" for="username">Username:</label>
          <input type="text" id="username" name="username" required />
        </div>

        <div class="formGroup">
          <label class="formLabel" for="password">Password:</label>
          <input type="password" id="password" name="password" required />
        </div>

        <div class="forgotPassword">
          <a href="#">Forgot Password?</a>
        </div>

        <button type="submit">Login</button>
      </form>
    </div>
  </div>
  <div class="rightDiv">
    <img class="rightDivImage" src="../../assets/homepage.jpg" />
  </div>
</main>
